  <h2>Referral contracts</h2>         
  <table class="table table-striped">
    <tr>
     <th>Contract address</th>
     <th>Wallet of hotspot owner</th>
     <th>Address of referrer</th>
    </tr>
    <% @owners.each do |o| %>
    <tr> 
      <td><%= link_to o.contract_address, address_path(o.contract_address) %> </td>
      <td><%= link_to o.ethereum_wallet.address, address_path(o.ethereum_wallet.address) %></td>
      <td><%= link_to Owner.find_by_profile_id(o.referrer_id).ethereum_wallet.address, address_path(Owner.find_by_profile_id(o.referrer_id).ethereum_wallet.address) %></td>
    </tr>
    <% end %>
</table>