<table>
  <tr>
   <th>Block number</th>
   <th>txns</th>
   <th>Timestamp</th>
  </tr>
  <% @blocks.each do |b| %>
  <tr>
    <td><%= link_to b.b_number, block_path(b) %> <td>
    <td><%= b.b_txns %></td>
    <td><%= DateTime.strptime(b.b_timestamp,'%s').utc %></td>
   </tr>
<% end %>
</table>