<div class="container">
  <h2>Transactions</h2>         
  <table class="table table-striped">
    <tr>
     <th>Tx Hash</th>
     <th>From</th>
     <th>To</th>
     <th>Value</th>
    </tr>
    <% transactions.each do |t| %>
    <tr>
      <td><%= link_to t.t_hash[0..15] + "...", transaction_path(t.t_hash) %> </td>
      <td><%= link_to t.t_from, address_path(t.t_from) %> </td>
      <% if t.t_to.nil? %>
        <td>Contract creation</td>
      <% else %>
        <td><%= t.t_to %></td>
      <% end %>
      <td><%= t.t_value.to_f/10**18 %> </td>
     </tr>
    <% end %>
</table>